.cart-icon {
    width: 100px;
    height: 60px;
    position: relative;
    display: flex;
    align-items: middle;
    justify-content: space-evenly;
    cursor: pointer;
    margin-left: 5px;
  
    .shopping-icon {
      width: 65px;
      height: 65px;
      
    }
  
    .item-count {
      position: absolute;
      font-size: 18px;
      font-weight: bold;
      bottom:1px;
      margin-left:-3px;
    }
  }
  