.contact-form {
    text-align: center;
    font-size: 38px;
    font-family: 'Raleway';
}

.contact-text {
    text-align: center;
}

 .disclaimer {
    text-align: center;
    font-family: 'Slabo 27px'; 
    font-size: 27px;
}


.email {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(129, 5, 5);
    
}